<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('.panel') %></span> 

  <div class="nav-admin user">
 
    <%= t('.welcome', last: current_user.last_name, first: current_user.first_name) %> *
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>