<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<p>
  Your result is
  <% if @test_passage.success? %>
    <span class="good"><%= @test_passage.score %>%</span><br>
    <span class="good">The test was successfully passed!</span>
  <% else %>
    <span class="bad"><%= @test_passage.score %>%</span><br>
    <span class="bad">Unfortunately the test has failed!</span>
  <% end %>
</p>
<%= link_to 'Back', tests_path %>