<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <div class="footer">
    <p>&copy; <%= current_year %> | Author: Dmitry Sechko | <%= github_url('Dmitry-Co', 'testGuru') %> | Learning by doing
    <p><%= link_to('Educational project at Thinknetica online school', 'https://thinknetica.com') %></p>
  </div>
</body>
</html>