.nav.nav-admin {
  height: 65px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
  border-radius: 10px; 
}

.nav-admin.title {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav.nav-admin a {
  color: #ffffff;
}

.nav-admin.user {
  text-align: right;
}

.nav-admin.user-email {
  border-bottom: 1px solid #3c4ae0; 
  text-decoration: underline;
}

.nav-admin.user-email,
.nav-admin.user span {
  font-style: italic;
  color: #28a745;
}

.nav-admin.user-email,
.nav-admin.user a {
  color: #ffffff;
}

.btn-logout {
  border-radius: 20px; 
}
